@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

/*Basic Reset*/
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-size: 100%; /* Default scaling base */
}

/*Adout us page*/
.AboutUs {
    display: flex;
    font-family: 'Roboto', sans-serif;
    color: darkgreen;
    text-align: center;
    margin: 20rem;
    padding: 20rem;
    background-color:whitesmoke; /* Semi-transparent white background */
    border-radius: 10rem;
    box-shadow: 0 4rem  8rem rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}
.missionVission {
    font-family: 'Roboto', sans-serif;
    color: darkgreen;
    align-items: center;
    text-align: center;
    margin: 20rem;
    padding: 20rem;
    background-image: url('../Assets/WhatsApp Image 2025-08-16 at 20.04.55_40ee9f89.jpg');
    border-radius: 10rem;
}
.whyChooseUs {
    font-family: 'Roboto', sans-serif;
    color: darkgreen;
    align-items: center;
    text-align: center;
    text-decoration-color:darkgreen;
    margin: none;
    padding: none;
    background-color:olivedrab;
}

/*Contact us page*/
.contactUs {
    font-family: 'Roboto', sans-serif;
    color: darkgreen;
    text-align: center;
    margin: 20rem;
    padding: 20rem;
    background-color:whitesmoke; /* Semi-transparent white background */
    border-radius: 10rem;
    box-shadow: 0 4rem 8rem rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}
.contactform {
    max-width: 600rem;              /* Limit form width */
    max-height: 400rem;
    margin: 40rem auto;             /* Center form horizontally with top margin */
    padding: 20rem;                 /* Inner spacing */
    background: #fff;              /* White background for card effect */
    border-radius: 10rem;           /* Rounded corners */
    box-shadow: 0 4rem 8rem rgba(0,0,0,0.1); /* Subtle shadow for depth */
    font-family: Arial, sans-serif; /* Clean font */
}
.map {
    display: flex;
    justify-content: center;       /* Center the map */
    
}

/*Gallery page*/
.Gallery {
    display: flex;                /* Use flexbox for layout */
    flex-wrap: wrap;              /* Allow wrapping to next line if needed */
    justify-content: center;      /* Center align all staff cards */
    gap: 15rem;                    /* Space between each card */
    padding: 15rem;                /* Inner spacing around container */
    background-color: #f9f9f9;    /* Light gray background */
    background: #fff;                      /* White background for card look */
    border-radius: 12rem;                   /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Soft shadow for depth */
    
    width: 200px;                          
}
