@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


/*Adout us page*/
.AboutUs {
    font-family: 'Roboto', sans-serif;
    color: darkgreen;
    text-align: center;
    margin: 20px;
    padding: 20px;
    background-color:whitesmoke; /* Semi-transparent white background */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}
.missionVission {
    font-family: 'Roboto', sans-serif;
    color: darkgreen;
    align-items: center;
    text-align: center;
    margin: 20px;
    padding: 20px;
    background-image: url('../Assets/WhatsApp Image 2025-08-16 at 20.04.55_40ee9f89.jpg');
    border-radius: 10px;
}
.whyChooseUs {
    font-family: 'Roboto', sans-serif;
    color: darkgreen;
    align-items: center;
    text-align: center;
    text-decoration-color:darkgreen;
    margin: none;
    padding: none;
    background-color:whitesmoke;
}
